/*
Solifyn API

Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package solifyn

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CheckoutAPIService CheckoutAPI service
type CheckoutAPIService service

type ApiCheckoutCreateRequest struct {
	ctx context.Context
	ApiService *CheckoutAPIService
	createCheckoutDto *CreateCheckoutDto
}

func (r ApiCheckoutCreateRequest) CreateCheckoutDto(createCheckoutDto CreateCheckoutDto) ApiCheckoutCreateRequest {
	r.createCheckoutDto = &createCheckoutDto
	return r
}

func (r ApiCheckoutCreateRequest) Execute() (*CheckoutResponseDto, *http.Response, error) {
	return r.ApiService.CheckoutCreateExecute(r)
}

/*
CheckoutCreate Create Checkout Session

Create a new payment configuration for a product. Returns redirect URLs pointing to the custom checkout layout.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCheckoutCreateRequest
*/
func (a *CheckoutAPIService) CheckoutCreate(ctx context.Context) ApiCheckoutCreateRequest {
	return ApiCheckoutCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CheckoutResponseDto
func (a *CheckoutAPIService) CheckoutCreateExecute(r ApiCheckoutCreateRequest) (*CheckoutResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CheckoutResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckoutAPIService.CheckoutCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/checkout/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createCheckoutDto == nil {
		return localVarReturnValue, nil, reportError("createCheckoutDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createCheckoutDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCheckoutCreateCollectionRequest struct {
	ctx context.Context
	ApiService *CheckoutAPIService
	createCollectionCheckoutDto *CreateCollectionCheckoutDto
}

func (r ApiCheckoutCreateCollectionRequest) CreateCollectionCheckoutDto(createCollectionCheckoutDto CreateCollectionCheckoutDto) ApiCheckoutCreateCollectionRequest {
	r.createCollectionCheckoutDto = &createCollectionCheckoutDto
	return r
}

func (r ApiCheckoutCreateCollectionRequest) Execute() (*CheckoutResponseDto, *http.Response, error) {
	return r.ApiService.CheckoutCreateCollectionExecute(r)
}

/*
CheckoutCreateCollection Create Collection Checkout Session

Create a new payment configuration for a product bundle/collection.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCheckoutCreateCollectionRequest
*/
func (a *CheckoutAPIService) CheckoutCreateCollection(ctx context.Context) ApiCheckoutCreateCollectionRequest {
	return ApiCheckoutCreateCollectionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CheckoutResponseDto
func (a *CheckoutAPIService) CheckoutCreateCollectionExecute(r ApiCheckoutCreateCollectionRequest) (*CheckoutResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CheckoutResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckoutAPIService.CheckoutCreateCollection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/checkout/collection/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createCollectionCheckoutDto == nil {
		return localVarReturnValue, nil, reportError("createCollectionCheckoutDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createCollectionCheckoutDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCheckoutCreateSetupRequest struct {
	ctx context.Context
	ApiService *CheckoutAPIService
	createSetupCheckoutDto *CreateSetupCheckoutDto
}

func (r ApiCheckoutCreateSetupRequest) CreateSetupCheckoutDto(createSetupCheckoutDto CreateSetupCheckoutDto) ApiCheckoutCreateSetupRequest {
	r.createSetupCheckoutDto = &createSetupCheckoutDto
	return r
}

func (r ApiCheckoutCreateSetupRequest) Execute() (*http.Response, error) {
	return r.ApiService.CheckoutCreateSetupExecute(r)
}

/*
CheckoutCreateSetup Create Setup Checkout Configuration

Create a new checkout session in setup mode for collecting cards without immediate charge.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCheckoutCreateSetupRequest
*/
func (a *CheckoutAPIService) CheckoutCreateSetup(ctx context.Context) ApiCheckoutCreateSetupRequest {
	return ApiCheckoutCreateSetupRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CheckoutAPIService) CheckoutCreateSetupExecute(r ApiCheckoutCreateSetupRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckoutAPIService.CheckoutCreateSetup")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/checkout/setup-configuration"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createSetupCheckoutDto == nil {
		return nil, reportError("createSetupCheckoutDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createSetupCheckoutDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCheckoutGetSessionRequest struct {
	ctx context.Context
	ApiService *CheckoutAPIService
	id string
}

func (r ApiCheckoutGetSessionRequest) Execute() (*CheckoutSessionDetailsDto, *http.Response, error) {
	return r.ApiService.CheckoutGetSessionExecute(r)
}

/*
CheckoutGetSession Get Checkout Session Details

Retrieve checkout details to mount the custom embedded checkout.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Internal database checkout session ID
 @return ApiCheckoutGetSessionRequest
*/
func (a *CheckoutAPIService) CheckoutGetSession(ctx context.Context, id string) ApiCheckoutGetSessionRequest {
	return ApiCheckoutGetSessionRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CheckoutSessionDetailsDto
func (a *CheckoutAPIService) CheckoutGetSessionExecute(r ApiCheckoutGetSessionRequest) (*CheckoutSessionDetailsDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CheckoutSessionDetailsDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckoutAPIService.CheckoutGetSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/checkout/session/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCheckoutPricePreviewRequest struct {
	ctx context.Context
	ApiService *CheckoutAPIService
	productId *string
	addons *string
	currency *string
	discount *string
	qty *string
	customPrice *string
}

// Public product ID
func (r ApiCheckoutPricePreviewRequest) ProductId(productId string) ApiCheckoutPricePreviewRequest {
	r.productId = &productId
	return r
}

func (r ApiCheckoutPricePreviewRequest) Addons(addons string) ApiCheckoutPricePreviewRequest {
	r.addons = &addons
	return r
}

// Target currency code (ISO)
func (r ApiCheckoutPricePreviewRequest) Currency(currency string) ApiCheckoutPricePreviewRequest {
	r.currency = &currency
	return r
}

// Percentage discount rate
func (r ApiCheckoutPricePreviewRequest) Discount(discount string) ApiCheckoutPricePreviewRequest {
	r.discount = &discount
	return r
}

// Number of product units
func (r ApiCheckoutPricePreviewRequest) Qty(qty string) ApiCheckoutPricePreviewRequest {
	r.qty = &qty
	return r
}

// Override price for PWYW products
func (r ApiCheckoutPricePreviewRequest) CustomPrice(customPrice string) ApiCheckoutPricePreviewRequest {
	r.customPrice = &customPrice
	return r
}

func (r ApiCheckoutPricePreviewRequest) Execute() (*PricePreviewResponseDto, *http.Response, error) {
	return r.ApiService.CheckoutPricePreviewExecute(r)
}

/*
CheckoutPricePreview Get Converted Price Preview

Pre-calculate target currencies, applied discounts, and PWYW values before mounting the checkout.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCheckoutPricePreviewRequest
*/
func (a *CheckoutAPIService) CheckoutPricePreview(ctx context.Context) ApiCheckoutPricePreviewRequest {
	return ApiCheckoutPricePreviewRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PricePreviewResponseDto
func (a *CheckoutAPIService) CheckoutPricePreviewExecute(r ApiCheckoutPricePreviewRequest) (*PricePreviewResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PricePreviewResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckoutAPIService.CheckoutPricePreview")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/checkout/price-preview"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.productId == nil {
		return localVarReturnValue, nil, reportError("productId is required and must be specified")
	}
	if r.addons == nil {
		return localVarReturnValue, nil, reportError("addons is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "productId", r.productId, "form", "")
	if r.currency != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "form", "")
	}
	if r.discount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "discount", r.discount, "form", "")
	}
	if r.qty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "qty", r.qty, "form", "")
	}
	if r.customPrice != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customPrice", r.customPrice, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "addons", r.addons, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCheckoutSupportedCurrenciesRequest struct {
	ctx context.Context
	ApiService *CheckoutAPIService
}

func (r ApiCheckoutSupportedCurrenciesRequest) Execute() ([]SupportedCurrenciesResponseDto, *http.Response, error) {
	return r.ApiService.CheckoutSupportedCurrenciesExecute(r)
}

/*
CheckoutSupportedCurrencies Get Supported Currencies

Retrieve all currencies supported for payouts and conversions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCheckoutSupportedCurrenciesRequest
*/
func (a *CheckoutAPIService) CheckoutSupportedCurrencies(ctx context.Context) ApiCheckoutSupportedCurrenciesRequest {
	return ApiCheckoutSupportedCurrenciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []SupportedCurrenciesResponseDto
func (a *CheckoutAPIService) CheckoutSupportedCurrenciesExecute(r ApiCheckoutSupportedCurrenciesRequest) ([]SupportedCurrenciesResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SupportedCurrenciesResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckoutAPIService.CheckoutSupportedCurrencies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/checkout/supported-currencies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
